html{
  background: url('./assets/curtain-g94529804b_1920.jpg') 100%;
}

h1{
  width: 100%;
  text-align: center;
}
div#box{
  width: 800px;
  background-color: #fff;
  /* opacity: 70%; */
  margin: 100px auto 0; 
  padding: 0 0 50px 0;
}
div#button{
  width: 100%;
  display: flex;
  justify-content:center;
}
div#button>button{
  width: 150px;
  height: 50px;
  margin: 0 10px;
  border: none;
  color: #fff;
  font-size: 20px;
  background-color: black;
}
div#contain{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
div.redteam{
  width: 300px;
}
div.minicontain{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 50px;
}
div.minicontain>h2{
  width: 100%;
  text-align: center;
}
div.minicontain:last-child{
  width: 300px;
}
div#contain h2{
  width: 100%;
  text-align: center;
}

